html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html.sr .load-hidden {
  visibility: hidden;
}

.card {
  position: relative;
  display: flex;
  height: 350px;
  cursor: pointer;
  justify-content: center;
}

.card-front,
.card-back {
  position: absolute;
  width: 260px;
  height: 100%;
  left: 50%;
  transition: transform 0.9s cubic-bezier(0.4, 0, 0.2, 1);
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

.card:hover .card-front {
  transform: rotateY(180deg);
}

.card:hover .card-back {
  transform: rotateY(0);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@font-face {
  font-family: 'raleway';
  font-weight: 200;
  src: url('/fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'bukhari';
  font-weight: 200;
  src: url('/fonts/BukhariScript-Regular.otf') format('truetype');
}

/* @font-face {
  font-family: 'inter';
  font-weight: 200;
  src: url('/fonts/Inter-Regular.ttf') format('truetype');
} */
